<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Welcome to :: Ashoka Page2</title>
  </head>
  <body>
    <!-- content -->
    <div class="body-wrapper hide-logo">
      <!-- header -->
    <header id="headerMain">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Ashoka.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">KYC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Car Approval</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Car Finance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">CRM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">GPS</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    </header>
      <div class="container-fluid">
        <div class="main-wrapper mt-3 bg-transparent">
          <div class="row">
            <div class="col-md-3">
              <div class="leftCard white-bg p-3">
                <!-- search -->
                <div class="searchBox">
                  <input type="search" name="search" class="form-control" placeholder="Search.." required="">
                  <a href="#link"><i class="lni lni-search-alt"></i></a>
                </div>
                <!-- end -->
                <h3 class="head3">Credit</h3>
                <p class="sm-font">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.</p>
                <!-- tabs -->
                <ul class="nav nav-tabs mt-5" id="statusTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="notification" data-bs-toggle="tab" data-bs-target="#noti" type="button" role="tab" aria-controls="notification" aria-selected="true">NOTIFICATIONS</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#credit" type="button" role="tab" aria-controls="credit" aria-selected="false">CREDIT ALLOTED</button>
                  </li>
                </ul>

                <div class="tab-content min-height">
                  <div class="tab-pane active" id="noti" role="tabpanel" aria-labelledby="notification">
                    <div class="content-card">
                      <!-- status list -->
                      <div class="cardList">
                        <!-- flex status -->
                        <div class="flex-btwn">
                          <div class="status-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                        </div>
                        <div class="bar redbar"></div>
                        <!-- status -->
                        <ul class="list-unstyled status-list">
                          <li>Pending</li>
                          <li>Re-uploaded</li>
                        </ul>
                      </div>
                      <!-- end -->
                      <!-- status list -->
                      <div class="cardList">
                        <!-- flex status -->
                        <div class="flex-btwn">
                          <div class="status-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                          <div class="statusAMount">
                            <p class="font-bold">506.980,000</p>
                            <p>Modify</p>
                          </div>
                        </div>
                        <div class="bar greenbar"></div>
                        <!-- status -->
                        <ul class="list-unstyled status-list">
                          <li>Approve</li>
                        </ul>
                      </div>
                      <!-- end -->
                      <!-- status list -->
                      <div class="cardList">
                        <!-- flex status -->
                        <div class="flex-btwn">
                          <div class="status-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                          <div class="statusAMount">
                            <p class="font-bold">506.980,000</p>
                            <p>Modify</p>
                          </div>
                        </div>
                        <div class="bar redbar"></div>
                        <!-- status -->
                        <ul class="list-unstyled status-list">
                          <li>Pending</li>
                          <li>Re-uploaded</li>
                        </ul>
                      </div>
                      <!-- end -->
                      <!-- status list -->
                      <div class="cardList">
                        <!-- flex status -->
                        <div class="flex-btwn">
                          <div class="status-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                          <div class="statusAMount">
                            <p class="font-bold">506.980,000</p>
                            <p>Modify</p>
                          </div>
                        </div>
                        <div class="bar redbar"></div>
                        <!-- status -->
                        <ul class="list-unstyled status-list">
                          <li>Pending</li>
                          <li>Re-uploaded</li>
                        </ul>
                      </div>
                      <!-- end -->
                      <!-- status list -->
                      <div class="cardList">
                        <!-- flex status -->
                        <div class="flex-btwn">
                          <div class="status-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
                          <div class="statusAMount">
                            <p class="font-bold">506.980,000</p>
                            <p>Modify</p>
                          </div>
                        </div>
                        <div class="bar redbar"></div>
                        <!-- status -->
                        <ul class="list-unstyled status-list">
                          <li>Pending</li>
                          <li>Re-uploaded</li>
                        </ul>
                      </div>
                      <!-- end -->
                    </div>
                  </div>
                  <div class="tab-pane" id="credit" role="tabpanel" aria-labelledby="credit-tab">B</div>
                </div>
                <!-- buttons -->
                <div class="flex-btwn bordered grey-bg">
                <button class="btn btn-left btn-outline f-bold">
              RE-CHECK</button>
              <button class="btn btn-right btn-black f-bold">APPROVE</button>
             </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="content-view white-bg p-4">
                <h3 class="head3 text-uppercase mt-4 mb-3">Documents</h3>
                <p class="m-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.</p>
                <!-- documents -->
                <div class="row mt-5">
                  <div class="col-md-3">
                    <div class="doc-card">
                        <div class="docBox">
                        <button type="button" class="btn addDoc" data-bs-toggle="modal" data-bs-target="#bxModal">
                          <i class="lni lni-plus"></i>
                        </button>
                      </div>
                      <div class="flex-btwn ptb-3">
                        <h4 class="m-0 head4">Re-Upload</h4>
                        <ul class="list-unstyled m-0">
                          <li class="red"><a href="#link"></a></li>
                          <li class="green"><a href="#link">Approve</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="modal fade" id="bxModal" tabindex="-1" aria-labelledby="bxModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" class="closebtn" data-bs-dismiss="modal" aria-label="Close"><i class="lni lni-minus"></i></button>
                            <div class="doc-card">
                        <div class="docBox">
                      </div>
                      <div class="flex-btwn ptb-3">
                        <h4 class="m-0 head4">Re-Upload</h4>
                        <ul class="list-unstyled m-0">
                          <li class="red"><a href="#link"></a></li>
                          <li class="green"><a href="#link">Approve</a></li>
                        </ul>
                      </div>
                    </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- documents -->
                  <div class="col-md-3">
                    <div class="doc-card">
                        <div class="docBox">
                        <button type="button" class="btn addDoc" data-bs-toggle="modal" data-bs-target="#bxModal">
                          <i class="lni lni-plus"></i>
                        </button>
                      </div>
                      <div class="flex-btwn ptb-3">
                        <h4 class="m-0 head4">Re-Upload</h4>
                        <ul class="list-unstyled m-0">
                          <li class="red"><a href="#link"></a></li>
                          <li class="green"><a href="#link"></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="modal fade" id="bxModal" tabindex="-1" aria-labelledby="bxModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" class="closebtn" data-bs-dismiss="modal" aria-label="Close"><i class="lni lni-minus"></i></button>
                            <div class="doc-card">
                        <div class="docBox">
                      </div>
                      <div class="flex-btwn ptb-3">
                        <h4 class="m-0 head4">Re-Upload</h4>
                        <ul class="list-unstyled m-0">
                          <li class="red"><a href="#link"></a></li>
                          <li class="green"><a href="#link"></a></li>
                        </ul>
                      </div>
                    </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- documents -->
                  <div class="col-md-3">
                    <div class="doc-card">
                        <div class="docBox">
                        <button type="button" class="btn addDoc" data-bs-toggle="modal" data-bs-target="#bxModal">
                          <i class="lni lni-plus"></i>
                        </button>
                      </div>
                      <div class="flex-btwn ptb-3">
                        <h4 class="m-0 head4">Re-Upload</h4>
                        <ul class="list-unstyled m-0">
                          <li class="red"><a href="#link"></a></li>
                          <li class="green"><a href="#link"></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="modal fade" id="bxModal" tabindex="-1" aria-labelledby="bxModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" class="closebtn" data-bs-dismiss="modal" aria-label="Close"><i class="lni lni-minus"></i></button>
                            <div class="doc-card">
                        <div class="docBox">
                      </div>
                      <div class="flex-btwn ptb-3">
                        <h4 class="m-0 head4">Re-Upload</h4>
                        <ul class="list-unstyled m-0">
                          <li class="red"><a href="#link"></a></li>
                          <li class="green"><a href="#link"></a></li>
                        </ul>
                      </div>
                    </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- documents -->
                  <div class="col-md-3">
                    <div class="doc-card">
                        <div class="docBox">
                        <button type="button" class="btn addDoc" data-bs-toggle="modal" data-bs-target="#bxModal">
                          <i class="lni lni-plus"></i>
                        </button>
                      </div>
                      <div class="flex-btwn ptb-3">
                        <h4 class="m-0 head4">Re-Upload</h4>
                        <ul class="list-unstyled m-0">
                          <li class="red"><a href="#link"></a></li>
                          <li class="green"><a href="#link"></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="modal fade" id="bxModal" tabindex="-1" aria-labelledby="bxModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" class="closebtn" data-bs-dismiss="modal" aria-label="Close"><i class="lni lni-minus"></i></button>
                            <div class="doc-card">
                        <div class="docBox">
                      </div>
                      <div class="flex-btwn ptb-3">
                        <h4 class="m-0 head4">Re-Upload</h4>
                        <ul class="list-unstyled m-0">
                          <li class="red"><a href="#link"></a></li>
                          <li class="green"><a href="#link"></a></li>
                        </ul>
                      </div>
                    </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/js/wow.min.js"></script>
<script type="text/javascript" src="static/js/chart.js"></script>
<script type="text/javascript" src="static/js/default.js"></script>
<script type="text/javascript">
    new WOW().init();
  </script> 
  
  </body>
</html>